@import "tailwindcss";

@plugin 'tailwindcss-animate';

/* Disable scroll bars */
html, body {
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }

  html,
  body {
    user-select: none;
    scroll-behavior: smooth;
    -webkit-app-region: no-drag;
    -webkit-font-smoothing: antialiased;
  }
}

#main-frame {
  display: flex;
  width: 220px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box; /* Include padding and border for dimensions. */

  border-radius: 12px;
  border: 1px solid #FFF;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.30) 100%), rgba(69, 126, 101, 0.75);
  backdrop-filter: blur(17px);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#content-frame {
  display: flex;
  padding-top: 38px;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  align-self: stretch;

  border-radius: 6px;
}

#welcome-frame {
  display: flex;
  padding-top: 0px;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  align-self: stretch;
}

#path-selection-frame1 {
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: 44px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(0, 0, 0, 0.15);
}


#path-selection-frame {
  display: flex;
  width: 188px;
  height: 35px;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 44px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  color: rgba(0, 0, 0, 0.15);
}

#path-frame {
  display: flex;
  align-items: center;
  gap: 8px;
}

.path-option-layout {
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.path-option-style {
  border-radius: 44px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(0, 0, 0, 0.15);
}

.change-path-indicator {
  display: flex;
  padding: 6px 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 32px;
  background: #737372;
}

.start-hosting-layout {
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.start-hosting-style {
  border-radius: 40px;
  background: #000;
  border: 4px solid transparent; /* Transparent border by default */
  box-sizing: border-box; /* Include border in dimensions */
}

.start-hosting-style:hover {
  border-color: #C4FFEA; /* Change only border color */
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: "Akzidenz-Grotesk Pro";
  src: url("../assets/fonts/Akzidenz-Grotesk Pro/Akzidenz Grotesk Pro Regular Regular.otf") format("opentype");
}

@font-face {
  font-family: "LT Railway";
  src: url("../assets/fonts/LT Railway/LTRailway-Regular.otf") format("opentype");
}

.text-akz-gro {
  color: #FFF;
  text-align: right;
  font-family: "Akzidenz-Grotesk Pro";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#welcome-span1 {
  color: #FFF;
  text-align: center;
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 18.571px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.186px;
}

#welcome-span {
 width: 166px;
 height: 36px;
 opacity: 1;
 font-family: Akzidenz-Grotesk Pro;
 font-weight: 500;
 font-style: Medium;
 font-size: 18px;
 leading-trim: CAP_HEIGHT;
 line-height: 100%;
 letter-spacing: -1%;
 text-align: center;
 color: #FFFFFF;
}

#choose-path-span {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #FFF;
  text-align: center;
  font-family: "Akzidenz-Grotesk Pro";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.12px;
}